@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Fira+Sans+Extra+Condensed:wght@100;200&family=Poiret+One&display=swap');






html, body {
    scroll-behavior: smooth;
    background-color: black;
    font-family: "Fira Sans Condensed", "Fira Sans Extra Condensed", "Poiret One";
    font-family: 'Fira Sans Condensed', sans-serif;
}

.fira-extra {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.poiret {
  font-family: 'Poiret One', cursive;
}

/* .home-img {
    background-image: url('../images/hero.JPG');
} */

.home-gradient {
    width: 100%;
    height: 100%;
    // filter: contrast(90%) brightness(130%);
    background: 
    linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.1) 100%),
    linear-gradient(360deg, rgba(0,0,0,0.82), rgba(255,255,255,0)),
    // linear-gradient(360deg, rgba(16,16,16,1), rgba(0,0,255,0)),
    // linear-gradient(360deg, rgba(133,133,133,1), rgba(0,0,94,0)),
    // linear-gradient(148deg, rgba(107,106,106,1), rgba(255,255,255,0.63)),
    // linear-gradient(243deg, rgba(84,84,84,1), rgba(255,255,255,1)),
    // linear-gradient(259deg, rgba(135,135,135,1), rgba(0,255,255,0)),
    // url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.94' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
   
    url("../images/bckground1.png");
    background-repeat: no-repeat;
    background-size: auto;
    
    
    
  }

  .white-line {
    width: 85%;
    height: 1px;
    background-color: white;
    margin-bottom: 2rem;
  }

//NAVBAR ============================================================================================================================

  .logo, li, .animated-underline {
    position: relative;
  }

    li::after, .logo::after, .animated-underline::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: rgba(255,255,255,0.3);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    li:hover, li.active, .logo:hover, .animated-underline:hover{
      &::after {
        width: 100%; 
        left: 0; 
      }
    }


.page #scrollMargin {
  display: none;
}

//PORTFOLIO============================================================================================================================

.wrapper {
    // max-width: 1350px;
    // padding: 0px 60px;
    // margin: 50px auto;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    
    img {
      cursor: pointer;
    }

    .wrapper-images {
      // display: contents;
      overflow: hidden;
      object-fit: cover;
      
      &.v-2{
       grid-row: span 2; 
      }
      &.v-3{
        grid-row: span 3; 
       }
       &.h-3{
        grid-column: span 3; 
       }
       &.h-2{
        grid-column: span 2; 
       }
    }
    .p-1{
      padding: 2px;
    }
    .p-2{
      padding: 3px;
    }
    .p-3{
      padding: 4px;
    }
    .p-4{
      padding: 5px;
    }
    .p-5{
      padding: 6px;
    }
    .p-6{
      padding: 7px;
    }
    .p-7{
      padding: 8px;
    }
    .p-8{
      padding: 9px;
    }
    .p-9{
      padding: 10px;
    }
    
    
    // .wrapper-images:nth-of-type(2n) {
    //   padding: 4px 6px;
  
    // }
    // .wrapper-images:nth-of-type(3n-1) {
    //   padding: 5px 7px;
  
    // }
    .portfolio-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }


  }
  
  
  /* modal */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(27, 27, 27, 0.9);
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;
    img {
      display: block;
      max-width: 60%;
      max-height: 80%;
      // margin: 60px auto;
      box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    }
    & > span {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: #ffffff;
      z-index: 999;
      cursor: pointer;
    }
    .overlay-arrows_left {
      display: flex;
      background-color: #6d6d6d;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      left: 0;
      z-index: 999;
      cursor: pointer;

      svg {
        width: 50px;
        height: 50px;
      }
    }

    .overlay-arrows_right {
      display: flex;
      background-color: #6d6d6d;
      justify-content: space-between;
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      top: 50%;
      z-index: 999;
      cursor: pointer;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  .ril-toolbar {
    background-color: unset!important;
  }

  //KONTAKT=========================================================
  .contact {
    input, textarea {
      padding: 0.5rem 0.8rem;
      margin: 1rem 0
    }
  }

  

  
  
  
  