@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Fira+Sans+Extra+Condensed:wght@100;200&family=Poiret+One&display=swap');
  
*:visited, *:active, *:focus {
background-color: unset!important;
box-shadow: none!important;

}




html, body {
    scroll-behavior: smooth;
    background-color: black;
    font-family: "Fira Sans Condensed", "Fira Sans Extra Condensed", "Poiret One";
    font-family: 'Fira Sans Condensed', sans-serif;
}

.fira-extra {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.poiret {
  font-family: 'Poiret One', cursive;
}

/* .home-img {
    background-image: url('../images/hero.JPG');
} */

.home-gradient {
    width: 100%;
    height: 100%;
    // filter: contrast(90%) brightness(130%);
    background: 
    linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0,0,0,.1) 60%),
    // linear-gradient(360deg, rgba(0,0,0,0.82), rgba(255,255,255,0)),
    // linear-gradient(360deg, rgba(16,16,16,1), rgba(0,0,255,0)),
    // linear-gradient(360deg, rgba(133,133,133,1), rgba(0,0,94,0)),
    // linear-gradient(148deg, rgba(107,106,106,1), rgba(255,255,255,0.63)),
    // linear-gradient(243deg, rgba(84,84,84,1), rgba(255,255,255,1)),
    // linear-gradient(259deg, rgba(135,135,135,1), rgba(0,255,255,0)),
    // url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.94' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
   
    url("../images/bckground1.png");
    background-repeat: no-repeat;
    background-repeat-x: repeat;
    background-size: auto;
    background-attachment: fixed;
    
    
  }

  .white-line {
    width: 40%;
    height: 1px;
    background-color: white;
    margin-bottom: 2rem;
  }

//NAVBAR ============================================================================================================================

  .logo, li, .animated-underline {
    position: relative;
  }

    li::after, .logo::after, .animated-underline::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: rgba(255,255,255,0.3);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    li:hover, li.active, .logo:hover, .animated-underline:hover{
      &::after {
        width: 100%; 
        left: 0; 
      }
    }


.page #scrollMargin {
  display: none;
}

//PORTFOLIO============================================================================================================================

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    
    grid-auto-flow: dense;
    
    img {
      cursor: pointer;
    }

    .wrapper-images {
      // display: contents;
      overflow: hidden;
      object-fit: cover;
      
      &.width-1{
        grid-row: span 1; 
       }
      &.width-2{
       grid-row: span 2; 
      }
      &.width-3{
        grid-row: span 3; 
       }
      &.width-4{
      grid-row: span 4; 
      }
      &.width-5{
        grid-row: span 5; 
       }
      &.height-3{
        grid-column: span 3; 
       }
      &.height-2{
        grid-column: span 2; 
       }
       &.height-4{
        grid-column: span 4; 
       }
      &.height-5{
        grid-column: span 5; 
       }

       &.height-2.width-1 {
        grid-row: span 2; 
       }
       &.height-3.width-1 {
        grid-row: span 2; 
        grid-column: span 2; 
       }
       &.height-4.width-1 {
        grid-row: span 2; 
       }
    }
    .padding-1{
      padding: 2px;
    }
    .padding-2{
      padding: 3px;
    }
    .padding-3{
      padding: 4px;
    }
    .padding-4{
      padding: 5px;
    }
    .padding-5{
      padding: 6px;
    }
    .padding-6{
      padding: 7px;
    }
    .padding-7{
      padding: 8px;
    }
    .padding-8{
      padding: 9px;
    }
    .padding-9{
      padding: 10px;
    }
    
    .portfolio-img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  
  
 
//LIGHTBOX==========================================================================================================================

  .ril-toolbar {
    background-color: unset!important;
  }

  .ril-outer {
    background-color: rgba(0, 0, 0, 0.85)!important;
  }

  .ril-image-current.ril__image {
    margin: auto 50%
  }

  .ril-caption.ril__caption {
    background-color: unset;
    max-height: unset;
    left: unset;
    right: unset;
    margin: auto 50% auto 5%;
    bottom: 50%;
    transform: translate(0,50%);
    .ril-caption-content.ril__captionContent {
      font-size: 3rem;
    }
  }
  //KONTAKT=========================================================
  .contact {
    input, textarea {
      padding: 0.5rem 0.8rem;
      margin: 1rem 0
    }
  }


  //CENNIK ===================================================================================================================
  // .offer-display {
  //   position: absolute;
  //   left: 20%;
  //   margin: auto 0;
  // }
  
  .offer-animation {
    position: absolute;
    animation-duration: 0.15s;
    animation-timing-function: ease;
    animation-name: animation-offer;
    @keyframes animation-offer {
      0% {
        left: -100%;
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        left: 20%;
        opacity: 1;
      }
    }

  }
  
  //=================================================================================================================================
  //=================================================================================================================================
  //=================================================================================================================================
  //=================================================================================================================================
  //=================================================================================================================================
  //=================================================================================================================================
  //=================================================================================================================================


  @media only screen and (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 660px) {
    html {
        font-size: 14px;
    }

    //PORTFOLIO============================================================================================================================

.wrapper {
    display: grid;
    grid-template-columns: unset;
    grid-auto-rows: 100px;
    grid-column: 100px;
    grid-auto-flow: dense;
    
    img {
      cursor: pointer;
    }

    .wrapper-images {
      // display: contents;
      overflow: hidden;
      object-fit: cover;
      
      &.width-1{
        grid-row: span 1; 
       }
      &.width-2{
       grid-row: span 2; 
      }
      &.width-3{
        grid-row: span 2; 
       }
      &.width-4{
      grid-row: span 2; 
      }
      &.width-5{
        grid-row: span 1; 
       }
      &.height-3{
        grid-column: span 1; 
       }
      &.height-2{
        grid-column: span 2; 
       }
       &.height-4{
        grid-column: span 2; 
       }
      &.height-5{
        grid-column: span 1; 
       }

       &.height-2.width-1 {
        grid-row: span 2; 
       }
       &.height-3.width-1 {
        grid-row: span 2; 
        grid-column: span 2; 
       }
       &.height-4.width-1 {
        grid-row: span 2; 
       }
    }
    .padding-1{
      padding: 1px;
    }
    .padding-2{
      padding: 2px;
    }
    .padding-3{
      padding: 3px;
    }
    .padding-4{
      padding: 4px;
    }
    .padding-5{
      padding: 5px;
    }
    .padding-6{
      padding: 6px;
    }
    .padding-7{
      padding: 7px;
    }
    .padding-8{
      padding: 8px;
    }
    .padding-9{
      padding: 9px;
    }
  }

  //LIGHTBOX==========================================================================================================================


  .ril-image-current.ril__image {
    margin: auto;
  }

  .ril-caption.ril__caption {
    background-color: unset;
    max-height: unset;
    left: unset;
    right: unset;
    margin: unset;
    bottom: 0;
    transform: unset;
    .ril-caption-content.ril__captionContent {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 13px;
    }
}
  
  
  